{% extends 'albums/base.html' %}
{% block content %}

<body>
    <header>

    <article>
        <h2 class="f3 fw4 pa3 mv0">Records</h2>
        <div class="cf pa2">
            {% for album in albums %}
            <div class="fl w-50 w-25-m w-20-l pa2">
                <a href="{% url 'album_details' pk=album.pk %}"
                    class="db link dim tc">
                    <img src="{{ album.image.url }}" alt="{{album}} Album Cover" class="w-100 db outline black-10" />
                    <dl class="mt2 f6 lh-copy">
                        <dt class="clip">Title</dt>
                        <dd class="ml0 black truncate w-100">{{album}}</dd>
                        <dt class="clip">Artist</dt>
                        <dd class="ml0 gray truncate w-100">{{album.artist}}</dd>
                    </dl>
                </a>
            </div>
            {% endfor %}
        </div>
        
    </article>
</body>

{% endblock %}